/* Button Switch dark */
.theme{/* Empty */}
.theme .text{text-transform:uppercase;font-size:.7rem;font-weight:600;padding:5px 0}
.theme .switch{position:relative;display:inline-block;width:30px;height:15px;margin:0 5px 0 10px;vertical-align:0}
.theme .switch input{display:none}
.theme .geser{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#ccc;-webkit-transition:.4s;transition:.4s;background:#ccc}
.theme .geser:before{position:absolute;content:"";height:15px;width:15px;left:0;bottom:0;background-color:#fff;-webkit-transition:.4s;transition:.4s}
.theme input:checked+.geser{background-color:#000}
.theme input:focus+.geser{box-shadow:0 0 1px #000}
.theme input:checked+.geser:before{-webkit-transform:translateX(15px);-ms-transform:translateX(15px);transform:translateX(15px)}
.theme .geser.round{border-radius:34px}
.theme .geser.round:before{border-radius:50%;background:#e97991}
