/* Button Switch dark */
.theme{/* Empty */}
.theme .text{text-transform:uppercase;font-size:.7rem;font-weight:600;padding:5px 0}
.theme .switch{position:relative;display:inline-block;width:30px;height:15px;margin:0 5px 0 10px;vertical-align:0}
.theme .switch input{display:none}
.theme .geser{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#ccc;-webkit-transition:.4s;transition:.4s;background:#ccc}
.theme .geser:before{position:absolute;content:"";height:15px;width:15px;left:0;bottom:0;background-color:#fff;-webkit-transition:.4s;transition:.4s}
.theme input:checked+.geser{background-color:#000}
.theme input:focus+.geser{box-shadow:0 0 1px #000}
.theme input:checked+.geser:before{-webkit-transform:translateX(15px);-ms-transform:translateX(15px);transform:translateX(15px)}
.theme .geser.round{border-radius:34px}
.theme .geser.round:before{border-radius:50%;background:#e97991}

/* Blog NiiHen */
.dark body,
.dark #nav,
.dark .post-body h4  {
	background-color: #111;
}
.dark .post-body h4 {
	border-top-color: #fff;
}
.dark input#feed-q-input,
.dark #header-wrapper, 
.dark #outer-wrapper,
.dark .post-outer:hover {
    background-color: #303030cc;
}
.dark body,
.dark #header a, 
.dark #header h1,
.dark #header .description, 
.dark input#feed-q-input,
.dark .post h2.post-title a,
.dark .post-body, 
.dark .item-snippet,
.dark .widget-content,
.dark .bwh-title .d-header abbr,
.dark .breadcrumbs,
.dark legend,
.dark .pager-isi,
.dark .pager-isi h6,
.dark ul.recntpst .date,
.dark ul.recntpst p {
    color: #fff;
}
.dark .post-body h3 {
    background: linear-gradient(90deg, rgb(17, 17, 17) 0%, rgba(233, 121, 145, 0.51) 100%);
    color: #fff;
    border: 0px;
}
.dark #comments h4 {
    background-color: #915864;
}
.dark a:hover {color:#eee;}

.dark a#sedot, 
.dark a.goblok {
    background: #eee6;
    color: #fff;
    border: 1px solid;
}
.dark #sedot:hover,
.dark .goblok:hover {color: rgba(233, 121, 145, 0.51) 100%);}

.dark a.loadpost {
    border: 1px solid;
    border-radius: 5px;
}

@media only screen and (max-width: 767px)
.dark #navmobitop li a {background-color: #111;}

.dark .post h1.post-title a {
    color: #e97991;
}
